body{
    width: 300px;
    height: 355px;
    background-color: black;
}

#number, #list-cookies { 
    text-align: center;
    color: #0A48B1; 
    font-size : 45px; 
    font-weight: bold;
    margin-bottom: 0px; 
    margin-top: 15px; 
    /* padding-top: 30px;  */
}

a:link#list-cookies, a:visited#list-cookies {
    text-decoration: none;
}

a:hover#list-cookies {
    text-decoration: none;
    color: #ac352d;
}

#text{ 
    text-align: center;
    color: #0A48B1; 
    font-size : 25px; 
    font-weight: bold;
    margin-top: 2px; 
}

/* #crumb{ 

    text-align: center;
    color: black; 
    font-size : 15px; 
    margin-top: 2px; 
    border-color: black; 
    padding-top : 10px; 
} */

#trapezoid{
    border-bottom: 100px solid #FFF59D;
    border-left: 50px solid black;
    border-right: 50px solid black;
    opacity: 1; 
    height: 0;
    width: 200px;
    background-color: #FFF59D;
    margin-top:-35px;

}

#rectangle{
    background-color: #FFF59D;
    width:300px; 
    height: 250px; 
    padding-top: 5px;
    align-items: center; 
    text-align: center; 
}

#title {
    text-align: center;
    color: #0f99cb;
    padding-top: 15px;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 0px;
    font-family: Marker Felt;
}

#web{
    font-size : 15px; 
    text-align: center;
    margin-top: 25px; 
}

#cookies { 
    text-align: center;
    font-size : 18px; 
    margin-top: 18px; 
}

a:link#website-link, a:visited#website-link {
    text-decoration: none;
    color: #1d23d2;
    font-size: 17px;
}

a:hover#website-link {
    text-decoration: none;
    color: #ac352d;
    font-size: 17px;
}
