body{
    width: 300px;
    height: 300px;
    background-color: #FFFAE0;
    
}

#title{
    text-align: center;
    color: #4589D8; 
    padding-top: 15px;
    font-size: 18px;
    margin-bottom: 0px; 
}

#number{ 
    text-align: center;
    color: #0A48B1; 
    font-size : 25px; 
    font-weight: bold;
    margin-top: 2px; 
    margin-bottom: 0px; 
}

#text{ 
    text-align: center;
    color: #4589D8; 
    font-size : 15px; 
    font-weight: bold;
    margin-top: 2px; 
}

#crumb{ 

    text-align: center;
    color: black; 
    font-size : 15px; 
    margin-top: 2px; 
    border-color: black; 
    padding-top : 10px; 
}

#box {
    width: 250px;
    border: 2px solid black; 
    margin-left: 20px;
}

#trapezoid{
    border-bottom: 100px solid #FFE86B;
    border-left: 50px solid #FFFFF0;
    border-right: 50px solid #FFFFF0;
    opacity: 1; 
    height: 0;
    width: 200px;
    background-color: #FFE86B;

}

#rectangle{
    background-color: #FFE86B;
    margin-top: -12px;
    width:295px; 
    height: 200px; 
    padding-left: 5px; 

}

#web{
    position: absolute; 
    bottom: 5px; 
    
}

#day {
    padding-top: 30px; 
    padding-left : 20px
}
