body{
    width: 300px;
    height: 330px;
    background-color: black;
    font-family: Inconsolata;
}

#title{
    text-align: center;
    color: #0f99cb; 
    padding-top: 15px;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 0px; 
    font-family: Marker Felt;
}

#number{ 
    text-align: center;
    color: #0A48B1; 
    font-size : 45px; 
    font-weight: bold;
    margin-bottom: 0px; 
    margin-top: 15px; 
    /* padding-top: 30px;  */
}

#text{ 
    text-align: center;
    color: #0A48B1; 
    font-size : 25px; 
    font-weight: bold;
    margin-top: 2px; 
}

#crumb{ 

    text-align: center;
    color: black; 
    font-size : 15px; 
    margin-top: 2px; 
    border-color: black; 
    padding-top : 10px; 
}

#box {
    width: 250px;
    border: 2px solid black; 
    margin-left: 20px;
}

#trapezoid{
    border-bottom: 100px solid #FFE86B;
    border-left: 50px solid black;
    border-right: 50px solid black;
    opacity: 1; 
    height: 0;
    width: 200px;
    background-color: #FFE86B;
    margin-top:-38px;

}

#rectangle{
    background-color: #FFE86B;
    width:300px; 
    height: 220px; 
    padding-top: 10px;
    align-items: center; 
    text-align: center; 
    /* margin-top: -40px;  */
}

#web{
    font-size : 15px; 
    text-align: center;
    margin-top: 40px; 
}

#day {
    padding-top: 30px; 
    padding-left : 20px
}

#cookies { 
    text-align: center;
    font-size : 18px; 
    margin-top: -15px; 
}

#circle {
    width: 100px;
    height: 100px; 
    border: 2px solid black; 
    border-radius: 50px;
    align-items: center;
    margin-left: 90px; 
}

a:link#website-link, a:visited#website-link {
    text-decoration: none;
    color: #1d23d2;
    font-size: 17px;
}

a:hover#website-link {
    text-decoration: none;
    color: #ac352d;
    font-size: 17px;
}
